



.CategoriesTray{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height: 200px;
    align-items: start;
    padding: 0 0 0 25px;
    
}

.CategoriesTray-Item{
    display: flex;
    align-items: center;
    margin: 10px;
}

 .CategoriesTray-Item a{
     display: flex;
     margin: 2px 0 0 45px;
     font-size: 20px;
 }