@import 'global';

.Header{
    width: 100%;
    height: 70px;
    background: rgb(34,31,31);
background: linear-gradient(0deg, rgba(34,31,31,1) 0%, rgba(20,20,20,1) 61%);
    font-family: var(--Netflix);
    color: var(--White);
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;

}

.Header-Navigation{
    display: flex;
}

.Header-Navigation-Logo  {
    display: flex;
    width: 150px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    color: var(--BrightRed);

}


.Header-Navigation-Logo img {
    
    width: 45px;

}
.Header-Navigation-Menu{
    display: flex;
    align-items: center;
}

.Header-Navigation-Menu-item{
    width: 45px;
    margin: 0 15px;
    text-decoration: none;
    color: var(--White);
}


.Header-User{
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-User img{
    border-radius: 3px;
}


.Header-User-Profile{
    
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center;

}